/* External CSS */

/* Setting a margin of zero for the body to avoid unnecessary whitespace*/
body{
  margin: 0;
}

/* Generally aligns all elements to the center of the page */
main{
  text-align: center;
}

/* Styling for biggest heading in the header */
header h1{
  font-family: 'Sacramento', cursive;
  position: static;
  font-size: 5.625em;
  margin: 3.125rem auto 0 auto;
  color: #66BFBF;
}

/* Styling for subheading in the header */
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  color: #66BFBF;
}

/* Responsive design where the heading and subheading adjust to screen width */
@media (max-width: 1100px) {
  header h1 {
    font-size: 3em;
  }

  header > h3{
    font-size: 1.5rem;
  }
}

/* Sets same font and color to all h2's and h4's */
h2, h4{
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
}

/* Sets h2 Font size */
h2{
  font-size: 2rem;
}

/* Sets h4 Font size */
h4{
  font-size: 1.2rem;
}

/* Sets a list style of none for the ul under the summary */
summary + ul {
  list-style-type: none;
}

/* Flexbox styling for the ol in the navigation bar */
#flex-list{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

/* Sets attributes for the children in the flexbox */
#flex-list *{
  flex-basis: 10%;
  flex-shrink: 0.5;
  background-color: #eaf6f6;
  text-align: center;
}

/* Grid display for the four initial questions in the form */
#form-initial{
  display: grid;
  grid-template-columns: [first] auto [second] 30% [third] 30% [fourth] auto [fifth];
  grid-template-rows: [one] 100px [two] 100px [three];
}

/* Sets attributes for the children in the grid */
#form-initial *{
  font-family: 'Merriweather', serif;
  color: hsl(169, 12%, 28%);
}
/* Next four id's represent the children in the grid */
/* Sets the grids occupied by these children */
#album-form{
  grid-column: second / third;
  grid-row: one / two;
}

#date-form{
  grid-column: third / fourth;
  grid-row: two / three;
}

#learn-form{
  grid-column: second / third;
  grid-row: two / three;
}

#name-form{
  grid-column: third / fourth;
  grid-row: one / two;
}

/* General styling for li elements under ul's */
ul li{
  font-family: 'Merriweather', serif;
  color: hsl(169, 12%, 28%);
}

/* The headings for the lists are underlined */
.topic{
  text-decoration: underline;
}

/* Make hr become a series of subtle dots */
hr{
  border-top: 7.5pt #EAF6F6;
  border-style: dotted none none none;
  border-color: #EAF6F6;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 10vw;
  min-width: 10px;;
  border-width: 10px;
}

/* Separate Styling for links to differentiate them */
a{
  text-decoration: none;
  font-family: 'Merriweather', serif;
  color: #11999E;
}

/* Changes color of links when hovered over */
a:hover{
  color: greenyellow;
}

/* Styling for the hopeful footer */
.foot-text{
  font-size: 1.5rem;
  padding: 20px 1.25pc 20px 1.25pc;
  color: rgb(255, 255, 255);
}

/* Default styling for p */
p{
  font-family: 'Merriweather', serif;
  color: hsl(169, 12%, 28%);
}

/* All list elements are aligned to the left */
li {
  text-align: left;
}

/* Some list elements are aligned differently to accomodate other elements */
li.align-list{
  position: relative;
  left: 40%;
  width: fit-content;
}

/* Two lists under 6 April are placed in same horizontal space */
#lectures-6april, #album-6april{
  display: inline-block;
  padding: 30px;
  text-align: center;
}

/* Underordered List in Summary's display set to inline-block to 
occupy only the space required */
.basic-info{
  display: inline-block;
}

/* To extra emphasize "criminally unfunny" */
.break{
  display: block;
  height: 30px;
  padding-top: 10px;
}

/* Styling for the video */
.vid{
  max-width: 100%;
  height: auto;
}

/* General styling for the submit button */
button[name="submit"] {
  background: #3498db;
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

/* Styling for button when clicked */
button[name="submit"]:active {
  background: #3cb0fd;
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}

/* Setting font and color for labels for myriad elements for consistency */
legend, legend ~ label, select, details{
  font-family: 'Merriweather', serif;
  color: hsl(169, 12%, 28%);
}