/* External CSS */

body{
  margin: 0;
}

main{
  text-align: center;
}

/* Styling for biggest heading in the header */
h1{
  font-family: 'Sacramento', cursive;
  position: static;
  font-size: 5.625em;
  margin: 3.125rem auto 0 auto;
  color: #66BFBF;
}

.topic{
  text-decoration: underline;
}

/* Styling for subheading in the header */
h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 2.5rem;
  margin-top: 0.75rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
  padding-top: 0.75rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  color: #66BFBF;
}

/* Make hr become a series of subtle dots */
hr{
  border-top: 7.5pt #EAF6F6;
  border-style: dotted none none none;
  border-color: #EAF6F6;
  border-left: none;
  border-right: none;
  border-bottom: none;
  width: 10vw;
  border-width: 10px;
}

/* Separate Styling for links to differentiate them */
a{
  text-decoration: none;
  font-family: 'Merriweather', serif;
  color: #11999E;
}

/* Changes color of links when hovered over */
a:hover{
  color: greenyellow;
}

/* Styling for the hopeful footer */
.foot-text{
  font-size: 1.5rem;
  padding: 20px 1.25pc 20px 1.25pc;
  color: rgb(255, 255, 255);
}

/* Default styling for p */
p{
  font-family: 'Merriweather', serif;
  color: hsl(169, 12%, 28%);
}

li {
  text-align: left;
}

li.align-list{
  position: relative;
  left: 40%;
}

#lectures-6april{
  display: inline-block;
  padding: 30px;
  text-align: center;
}

#album-6april{
  display: inline-block;
  padding: 30px;
  text-align: center;
}

.basic-info{
  display: inline-block;
}

.break{
  display: block;
  height: 30px;
  padding-top: 10px;
}

.vid{
  max-width: 100%;
  height: auto;
}

button {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  color: #ffffff;
  font-family: 'Merriweather', serif;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

button:active {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}